In [1]:
import csv
import pandas as pd
import random
from sklearn.model_selection import train_test_split

In [2]:
path = 'data/train_mean_features_labelled.csv'
train_data = pd.read_csv(path,header=0, index_col=0)
train_data.head()

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8,label
0,1.627267e-17,0.554379,0.205182,0.202277,0.589269,0.181832,0.161980,1.156057e-17,0.551979,0.355550,...,0.279709,0.275803,-1.079815e-17,0.553640,0.213654,0.211454,0.225994,0.168969,0.160188,0
1,-3.422243e-18,0.537679,0.281149,0.259472,0.492262,0.190994,0.167108,6.427953e-18,0.537351,0.331801,...,0.229569,0.281986,-5.268898e-18,0.545784,0.289002,0.264373,0.251639,0.172091,0.161918,0
2,3.360650e-17,0.581185,0.278798,0.249169,0.542159,0.179060,0.162542,1.023256e-17,0.592611,0.432686,...,0.220677,0.210012,4.248127e-18,0.590040,0.286996,0.256483,0.267841,0.199506,0.173292,0
3,-3.722168e-17,0.573792,0.241633,0.241526,0.499962,0.185286,0.177292,-1.857318e-18,0.575598,0.456296,...,0.226982,0.231452,-2.724575e-17,0.575120,0.237540,0.230018,0.246263,0.173082,0.164838,0
4,2.091354e-17,0.503988,0.303876,0.269966,0.547477,0.224098,0.170734,2.156758e-17,0.505033,0.434227,...,0.292525,0.172033,-2.218008e-17,0.504860,0.306547,0.278918,0.235462,0.213511,0.161466,1

In [3]:
xtrain = train_data.loc[:, train_data.columns != 'label']
labels = train_data.loc[:, train_data.columns == 'label']

In [4]:
xtrain.head()

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
0,1.627267e-17,0.554379,0.205182,0.202277,0.589269,0.181832,0.161980,1.156057e-17,0.551979,0.355550,...,0.585938,0.279709,0.275803,-1.079815e-17,0.553640,0.213654,0.211454,0.225994,0.168969,0.160188
1,-3.422243e-18,0.537679,0.281149,0.259472,0.492262,0.190994,0.167108,6.427953e-18,0.537351,0.331801,...,0.486981,0.229569,0.281986,-5.268898e-18,0.545784,0.289002,0.264373,0.251639,0.172091,0.161918
2,3.360650e-17,0.581185,0.278798,0.249169,0.542159,0.179060,0.162542,1.023256e-17,0.592611,0.432686,...,0.551182,0.220677,0.210012,4.248127e-18,0.590040,0.286996,0.256483,0.267841,0.199506,0.173292
3,-3.722168e-17,0.573792,0.241633,0.241526,0.499962,0.185286,0.177292,-1.857318e-18,0.575598,0.456296,...,0.504787,0.226982,0.231452,-2.724575e-17,0.575120,0.237540,0.230018,0.246263,0.173082,0.164838
4,2.091354e-17,0.503988,0.303876,0.269966,0.547477,0.224098,0.170734,2.156758e-17,0.505033,0.434227,...,0.546768,0.292525,0.172033,-2.218008e-17,0.504860,0.306547,0.278918,0.235462,0.213511,0.161466

In [5]:
labels.head()

   label
0      0
1      0
2      0
3      0
4      1

In [6]:
#Splitting training data randomly - 80/20 split ratio

X_train, X_val, y_train, y_val = train_test_split(xtrain, labels, test_size=0.20, random_state=2)

In [7]:
print(X_train.shape)
X_train.head()

(143, 56)

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
155,-1.722193e-17,0.593140,0.353629,0.290844,0.546684,0.223523,0.159554,-1.014566e-17,0.595330,0.424419,...,0.547906,0.242595,0.250111,-1.159760e-17,0.595508,0.356894,0.303345,0.252546,0.217273,0.162666
146,6.419356e-18,0.577417,0.304980,0.267945,0.555124,0.193538,0.169302,-7.982739e-18,0.577763,0.412771,...,0.549479,0.225244,0.233259,2.748610e-17,0.578749,0.300671,0.268267,0.265363,0.183487,0.163991
89,-6.910845e-18,0.561492,0.306024,0.268523,0.585752,0.180866,0.170131,-3.450937e-18,0.561216,0.421337,...,0.588495,0.252641,0.210057,1.487531e-17,0.561243,0.305920,0.274488,0.270483,0.185748,0.160992
92,1.442464e-17,0.563416,0.316205,0.297656,0.575825,0.205579,0.187476,-1.112034e-17,0.563531,0.476756,...,0.581660,0.251072,0.214147,-2.205431e-17,0.563790,0.313295,0.280834,0.296148,0.213858,0.188947
157,-6.389733e-18,0.571140,0.241775,0.226945,0.481862,0.215272,0.188918,6.203110e-20,0.571954,0.369451,...,0.490782,0.231536,0.229812,2.737127e-17,0.574780,0.238001,0.226469,0.224259,0.201173,0.171968

In [8]:
print(X_val.shape)
X_val.head()

(36, 56)

,FS Lin 1,SS Log 1,FL1 Log 1,FL2 Log 1,FL3 Log 1,FL4 Log 1,FL5 Log 1,FS Lin 2,SS Log 2,FL1 Log 2,...,FL3 Log 7,FL4 Log 7,FL5 Log 7,FS Lin 8,SS Log 8,FL1 Log 8,FL2 Log 8,FL3 Log 8,FL4 Log 8,FL5 Log 8
12,-1.671871e-18,0.578180,0.258037,0.237607,0.599972,0.192286,0.171007,7.056265e-18,0.577253,0.372547,...,0.599544,0.220958,0.291399,6.178707e-18,0.582916,0.263759,0.243443,0.260052,0.182116,0.164979
23,2.712335e-18,0.592036,0.295372,0.260096,0.560660,0.198842,0.182751,9.388577e-18,0.590188,0.407588,...,0.555899,0.224402,0.212457,2.585033e-18,0.593374,0.289897,0.263713,0.290107,0.209939,0.185034
167,-1.212185e-17,0.530904,0.276343,0.227549,0.591350,0.170365,0.173129,-5.600905e-18,0.534934,0.335816,...,0.593903,0.249525,0.261274,-1.827500e-17,0.534590,0.287541,0.254356,0.254246,0.188019,0.164792
25,-1.973822e-17,0.449847,0.230174,0.206772,0.493381,0.161785,0.163731,-1.216430e-17,0.449887,0.271511,...,0.491715,0.228249,0.195408,1.984219e-17,0.448530,0.232660,0.216549,0.220799,0.163337,0.159352
35,-9.742887e-18,0.584176,0.308959,0.270590,0.523092,0.193591,0.202887,-1.040683e-19,0.585012,0.424303,...,0.529794,0.208063,0.231339,-1.628725e-17,0.587137,0.303622,0.269925,0.268269,0.203612,0.180660

In [9]:
print(y_train.shape)
y_train.head()

(143, 1)

     label
155      0
146      0
89       0
92       0
157      0

In [10]:
print(y_val.shape)
y_val.head()

(36, 1)

     label
12       0
23       0
167      0
25       1
35       0

In [11]:
y_val.groupby(['label']).size()

label
0    31
1     5
dtype: int64

In [12]:
train_data.groupby(['label']).size()

label
0    156
1     23
dtype: int64

In [14]:
#Saving Data

X_train.to_csv('data/train/x_train.csv',header=True)
y_train.to_csv('data/train/y_train.csv',header=True)
X_val.to_csv('data/val/x_val.csv',header=True)
y_val.to_csv('data/val/y_val.csv',header=True)